.foto {
    border: 5px solid;
    color: #04B404;
}

.contenedorImg {
    display: flex;
    justify-content: center;
}

.textoCenter {
    margin: auto;
    text-align: center;
}

#nombre {
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium";
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: black;
}

#puesto {
    font-family: "Franklin Gothic Book";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 50px;
    color: black;
}

