<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="icon-titulo" ios="{{nombrePage.icon}}" md="{{nombrePage.icon}}"></ion-icon>
      <ion-label class="texto-titulo"> {{nombrePage.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="form_container" class="padre">
    <div class="hijo">
      <ul class="textoGeneralLst" *ngFor="let i of experienciaLaboral;index as s">
        <ion-label class="SubTitulo">Empresa {{s+1}}</ion-label>
        <img width="240" height="2" src="../../assets/rayasub.png">
        <li *ngFor="let j of i; index as k">
          {{experienciaLaboral[s][k]}}
        </li>
      </ul>
    </div>
  </div>
</ion-content>